@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Besley';
    src: url('../fonts/Besley-Regular.eot');
    src: url('../fonts/Besley-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Besley-Regular.woff2') format('woff2'),
        url('../fonts/Besley-Regular.woff') format('woff'),
        url('../fonts/Besley-Regular.ttf') format('truetype'),
        url('../fonts/Besley-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* padding: 0 15px; */
    margin: 0 auto;
}

body {
    font-family: inter;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 70.4px;
}

h3 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.06em;
    line-height: 62.4px;
}

h4 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -2.4px;
    line-height: 52px;
}

h5 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -.05em;
    line-height: 41.6px;
}

h6 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.2px;
    line-height: 36px;
}

.h6 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.05em;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.56);
}

p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: 27px;
    color: #0000008F;
}

.copy-lg {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
    line-height: 24px;
    color: #0000008F;
}

.copy-md {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
    line-height: 21px;
    color: white;
}

.copy-sm {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 18px;
}

.tl-btn-block {
    display: flex;
    align-items: center;
    background: rgb(239 234 229);
    padding: 0 58px 0 24px;
    border-radius: 100px;
    height: 44px;
    width: fit-content;
    position: relative;
    cursor: pointer;
}

.tl-btn-block a {
    letter-spacing: -0.64px;
    line-height: 24px;
    font-weight: 500;
    z-index: 99;
}

.tl-btn-block .tl-arrow-block {
    background-color: #ffff;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 2px;
    padding-right: 12px;
    z-index: 0;
    transition: width 0.4s;
}

.tl-btn-block .tl-arrow-block img {
    width: 16px;
    height: 16px;
}

.tl-btn-block:hover .tl-arrow-block {
    width: 162px;
    transition: 0.4s;
}

/* header */
header {
    background-color: transparent;
    padding: 24px 0;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    max-width: 100%;
    backdrop-filter: blur(8px);
}

header .tl-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .tl-navbar .tl-site-logo img {
    width: 92px;
    height: 24px;
}

header .tl-navbar .tl-nav-links .tl-nav-wrapper,
header .tl-navbar .tl-nav-links ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .tl-navbar .tl-nav-links a {
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    color: black;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 8px;
}

header .tl-navbar .tl-nav-links a:hover,
header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon:hover {
    background-color: rgb(197, 179, 164);
    transition: 1s ease-in-out;
}

header .tl-navbar .tl-nav-links .tl-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
}

/*Header Search Overlay */
header .tl-search-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

header .tl-search-overlay.active {
    display: flex;
}

header .tl-search-input {
    width: 60%;
    max-width: 600px;
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline: none;
}

header .tl-navbar #tl-burger-menu {
    display: none;
}

header .tl-nav-links.tl-overlay#tl-menu {
    display: block;
}

/* hamburger */
header #tl-burger-menu {
    cursor: pointer;
    height: 31px;
    width: 2px;
    position: relative;
}

header #tl-burger-menu span,
header #tl-burger-menu span::before,
header #tl-burger-menu span::after {
    background-color: #000;
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    content: "";
}

header #tl-burger-menu span {
    top: 13px;
    width: 31px;
    right: 0;
}

header #tl-burger-menu span::before {
    top: -10px;
    width: 31px;
    left: 0;
}

header #tl-burger-menu span::after {
    top: 10px;
    width: 31px;
    left: 0;
}

header #tl-burger-menu.tl-close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 31px;
}

header #tl-burger-menu.tl-close span::before {
    transform: rotate(90deg);
    top: 0;
    width: 31px;
}

header #tl-burger-menu.tl-close span::after {
    opacity: 0;
    width: 0;
    top: 0;
    left: 0;
    transform: rotate(90deg);
}

/* hero-section */
.tl-hero {
    background-color: rgb(197, 179, 164);
    padding: 160px 64px;
    position: sticky;
    top: 0;
    z-index: -1;
}

.tl-hero .tl-hero-wrapper .tl-content-block {
    width: 100%;
    max-width: 46%;
    position: relative;
    z-index: 2;
}

.tl-hero .tl-hero-wrapper .tl-content-block .tl-new-project {
    background-color: #A1806E;
    border-radius: 50px;
    width: 100%;
    max-width: 170px;
    padding: 4px 12px;
    margin-bottom: 24px;
}

.tl-hero .tl-hero-wrapper .tl-content-block h2 {
    padding-bottom: 16px;
}

.tl-hero .tl-hero-wrapper .tl-content-block h6 {
    padding-bottom: 32px;
}

.tl-hero .tl-hero-wrapper .tl-video-block {
    position: absolute;
    left: 36%;
    top: 0px;
    height: 100%;
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) add;
}

.tl-hero .tl-hero-wrapper .tl-video-block video {
    width: 100%;
    height: 100%;
}

/* testimonial */
.tl-testimonial {
    padding: 160px 0;
    text-align: center;
    background-color: rgb(239, 234, 229);
}

.tl-testimonial .tl-img-block {
    padding-bottom: 64px;
}

.tl-testimonial .tl-img-block .tl-img,
.tl-testimonial .tl-img-block h3,
.tl-testimonial .tl-img-block h6 {
    padding-bottom: 24px;
}

/* some-slider-block-style */
.tl-testimonial .tl-testimonial-block p,
.tl-slider-block .tl-brands p {
    padding-bottom: 32px;
}

.tl-testimonial .tl-testimonial-block marquee,
.tl-slider-block .tl-brands marquee {
    width: 100%;
    max-width: 600px;
}

.tl-testimonial .tl-testimonial-block marquee ul,
.tl-slider-block .tl-brands marquee ul {
    display: flex;
    justify-content: space-between;
}

.tl-testimonial .tl-testimonial-block marquee ul li img,
.tl-slider-block .tl-brands marquee ul li img {
    width: 87px;
    height: 22px;
}

/* services  and features */
.tl-services,
.tl-features {
    padding: 80px 0;
    background-color: white;
}

.tl-services .tl-content-block,
.tl-features .tl-content-block {
    text-align: center;
    padding-bottom: 64px;
}

.tl-services .tl-content-block h4,
.tl-features .tl-content-block h4 {
    padding-bottom: 16px;
}

.tl-services .tl-card-block,
.tl-features .tl-card-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl-services .tl-card-block .tl-card {
    width: 100%;
    max-width: 384px;
    padding: 32px;
    background-color: rgb(248, 246, 244);
    border-radius: 16px;
}

.tl-services .tl-card-block .tl-card .tl-image {
    background-color: rgb(161, 128, 110);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}

.tl-services .tl-card-block .tl-card .tl-image img {
    width: 32px;
    height: 32px;
}

.tl-services .tl-card-block .tl-card .tl-content p:first-child,
.tl-features .tl-card-block .tl-card .tl-content p:first-child {
    color: black;
    font-weight: 500;
    padding-bottom: 16px;
}

.tl-features .tl-card-block .tl-card {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    text-align: center;
}

.tl-features .tl-card-block .tl-card .tl-image img {
    width: 48px;
    height: 48px;
}

.tl-features .tl-card-block .tl-card .tl-image {
    padding-bottom: 32px;
}

.tl-features .tl-card-block .tl-card .tl-content p:last-child {
    padding: 0 10px
}

/* our-work */
.tl-our-work {
    padding: 80px 0;
    background-color: white;
}

.tl-our-work .tl-title-top {
    text-align: center;
    padding-bottom: 64px;
}

.tl-our-work .tl-title-top .tl-content {
    padding-bottom: 32px;
}

.tl-our-work .tl-title-top .tl-btn-block {
    margin: 0 auto;
}

.tl-our-work .tl-title-top h4 {
    padding-bottom: 16px;
}

.tl-our-work .tl-work-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tl-our-work .tl-image-block {
    width: 100%;
    max-width: 48%;
    padding-bottom: 48px;
}

.tl-our-work .tl-image-block .tl-image {
    margin-bottom: 16px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 16px;
    position: relative;
}

.tl-our-work .tl-image-block .tl-image:hover img {
    transform: scale(1.05);
}

.tl-our-work .tl-image-block .tl-image img {
    width: 100%;
    border-radius: 16px;
    height: 384.72px;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.tl-our-work .tl-image-block .tl-image .tl-hover-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 21px;
    transform: translateY(-19px);
}

.tl-our-work .tl-image-block .tl-image:hover .tl-hover-arrow {
    transform: rotate(-37deg) translateY(20px);
}

.tl-our-work .tl-image-block .tl-content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl-our-work .tl-image-block .tl-content-block .tl-work-btn {
    padding: 4px 12px;
    background-color: #A1806E;
    border-radius: 20px;
}

/* slider-block */
.tl-slider-block {
    padding: 80px 0;
    background-color: rgb(239, 234, 229);
}

.tl-slider-block .tl-slides-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 80px;
    overflow: hidden;
}

.tl-slider-block .tl-slides-wrapper .tl-slides {
    width: 100%;
    display: none;
}

.tl-slider-block .tl-slides-wrapper .tl-slides.tl-active {
    display: block;
}

.tl-slider-block .tl-slides-wrapper .tl-slide-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tl-slider-block .tl-slide-wrapper .tl-content-block,
.tl-slider-block .tl-slide-wrapper .tl-image-block {
    width: 100%;
    max-width: 48%;
}

.tl-slider-block .tl-slide-wrapper .tl-image-block {
    border-radius: 17px;
}

.tl-slider-block .tl-slide-wrapper .tl-content-block h3 {
    padding-bottom: 48px;
}

.tl-slider-block .tl-slide-wrapper .tl-content-block .tl-information .tl-image {
    padding-bottom: 12px;
}

.tl-slider-block .tl-slide-wrapper .tl-content-block .tl-information img {
    width: 18px;
    height: 18px;
}

.tl-slider-block .tl-slide-wrapper .tl-content-block .tl-information p {
    font-weight: 500;
}

.tl-slider-block .tl-slides-wrapper .tl-image-block img {
    width: 100%;
    border-radius: 17px;
    object-fit: cover;
    /* height: 100%;
    max-height: 750px; */
    object-position: 50% 50%;
}

.tl-slider-block .tl-slides-wrapper .tl-btn {
    position: absolute;
    bottom: 16px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 80px;
    border: none;
    background-color: #fff;
}

.tl-slider-block .tl-slides-wrapper .tl-btn:hover {
    background-color: rgb(222, 212, 202);
    transition: 0.8s ease-in-out;
}

.tl-slider-block .tl-slides-wrapper .tl-next-btn img,
.tl-slider-block .tl-slides-wrapper .tl-prev-btn img {
    width: 24px;
    height: 24px;
}

.tl-slider-block .tl-slides-wrapper .tl-prev-btn img {
    transform: rotate(182deg);
}

.tl-slider-block .tl-slides-wrapper .tl-prev-btn {
    left: 38%;
}

.tl-slider-block .tl-slides-wrapper .tl-next-btn {
    right: 53%;
}

.tl-slider-block .tl-slides-wrapper .tl-btn:disabled {
    opacity: 0.5;
}

.tl-slider-block .tl-brands {
    text-align: center;
}

.tl-slider-block .tl-brands p {
    padding-bottom: 32px;
}


/* .tl-slider-block .tl-slides-wrapper {
    position: relative;
    overflow: hidden; */
/* Prevent slides from overflowing */
/* }  */

/* .tl-slider-block .tl-slides-inner {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
}

.tl-slider-block .tl-slides {
    flex: 0 0 100%; */
/* display: block; */
/* always show slides inside the flex container */
/* } */

/* Faq-block */
.tl-faq-block {
    padding: 80px 0;
    background-color: white;
}

.tl-faq-block .tl-faq {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.tl-faq-block .tl-title-top {
    text-align: center;
    padding-bottom: 64px;
}

.tl-faq-block .tl-title-top h4 {
    padding-bottom: 16px;
}

.tl-faq-block .tl-faq .tl-faq-item {
    padding: 24px;
}

.tl-faq-block .tl-faq .tl-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.tl-faq-block .tl-faq .tl-faq-question h6 {
    color: black;
}

.tl-faq-block .tl-faq .tl-faq-question .tl-arrow {
    width: 46px;
    height: 46px;
    background-color: rgb(248, 246, 244);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-faq-block .tl-faq .tl-faq-question .tl-arrow img {
    width: 24px;
    height: 25px;
}

.tl-faq-block .tl-faq .tl-faq-question.tl-active img {
    transform: rotate(180deg);
}

.tl-faq-block .tl-faq .tl-faq-question.tl-active .tl-faq-answer {
    padding-top: 10px;
    max-height: 500px;
}

.tl-faq-block .tl-faq .tl-faq-item .tl-faq-answer {
    padding-top: 16px;
}

/* Footer */
footer {
    background-color: #c0ad9d;
    padding: 80px 0;
}

footer .tl-content-block {
    position: relative;
    padding-bottom: 160px;
}

footer .tl-content-block .tl-content {
    text-align: center;
    width: 100%;
    max-width: 56%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

footer .tl-content-block .tl-content h2,
footer .tl-content-block .tl-content p {
    padding-bottom: 24px;
}

footer .tl-content-block .tl-content .tl-btn-block {
    margin: 0 auto;
}

footer .tl-content-block video {
    cursor: auto;
    width: 100%;
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) intersect, linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 140px;
}

footer .tl-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    position: relative;
    z-index: 2;
}

footer .tl-footer-wrapper .tl-logo-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .tl-footer-wrapper .tl-logo-block .tl-site-logo img {
    width: 123px;
    height: 32px;
}

footer .tl-footer-wrapper .tl-logo-block p:first-of-type {
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
    max-width: 323px;
}

footer .tl-footer-wrapper .tl-logo-block p:last-child {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
}

footer .tl-footer-wrapper .tl-logo-block p:last-child span {
    color: black;
}

footer .tl-footer-wrapper .tl-informative-block {
    display: flex;
    gap: 32px;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages ul,
footer .tl-footer-wrapper .tl-informative-block .tl-information ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages p,
footer .tl-footer-wrapper .tl-informative-block .tl-information p {
    padding-bottom: 16px;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages ul li,
footer .tl-footer-wrapper .tl-informative-block .tl-information ul li {
    font-size: 14px;
    font-family: inter;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages ul li a,
footer .tl-footer-wrapper .tl-informative-block .tl-information ul li a {
    color: rgba(0, 0, 0, 0.56);
}

/* Responsive */
@media screen and (max-width:1199px) {
    .container {
        padding: 0 32px;
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper,
    header .tl-navbar .tl-nav-links ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper ul {
        width: 100%;
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper {
        gap: 16px;
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper a {
        padding: 4px 0;
    }

    header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon {
        padding: 4px 0;
    }

    header .tl-nav-links.tl-overlay#tl-menu {
        display: block;
        position: absolute;
        background-color: white;
        width: 100%;
        left: 0;
        top: 76px;
        padding-left: 32px;
    }

    header .tl-navbar #tl-menu {
        display: none;
    }

    header .tl-navbar #tl-burger-menu {
        display: block;
    }

    /* footer */
    footer .tl-footer-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .tl-footer-wrapper .tl-informative-block {
        padding-top: 25px;
    }
}