@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Besley';
    src: url('../fonts/Besley-Regular.eot');
    src: url('../fonts/Besley-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Besley-Regular.woff2') format('woff2'),
        url('../fonts/Besley-Regular.woff') format('woff'),
        url('../fonts/Besley-Regular.ttf') format('truetype'),
        url('../fonts/Besley-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts//InstrumentSerif/InstrumentSerif-Italic.eot');
    src: url('../fonts//InstrumentSerif/InstrumentSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts//InstrumentSerif/InstrumentSerif-Italic.woff2') format('woff2'),
        url('../fonts//InstrumentSerif/InstrumentSerif-Italic.woff') format('woff'),
        url('../fonts//InstrumentSerif/InstrumentSerif-Italic.ttf') format('truetype'),
        url('../fonts//InstrumentSerif/InstrumentSerif-Italic.svg#InstrumentSerif-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: Inter;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 70.4px;
}

h3 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.06em;
    line-height: 62.4px;
}

h4 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -2.4px;
    line-height: 52px;
}

h5 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -.05em;
    line-height: 41.6px;
}

h6 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.2px;
    line-height: 36px;
}

.h6 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.05em;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.56);
}

p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: 27px;
    color: #0000008F;
}

.copy-lg {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
    line-height: 24px;
    color: #0000008F;
}

.copy-md {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
    line-height: 21px;
    color: white;
}

.copy-sm {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 18px;
}

.tl-btn-block {
    display: flex;
    align-items: center;
    background: rgb(239 234 229);
    padding: 0 58px 0 24px;
    border-radius: 100px;
    height: 44px;
    width: fit-content;
    position: relative;
    cursor: pointer;
}

.tl-btn-block a {
    letter-spacing: -0.64px;
    line-height: 24px;
    font-weight: 500;
    z-index: 99;
}

.tl-btn-block .tl-arrow-block {
    background-color: #ffff;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 2px;
    padding-right: 12px;
    z-index: 0;
    transition: width 0.4s;
}

.tl-btn-block .tl-arrow-block img {
    width: 16px;
    height: 16px;
}

.tl-btn-block:hover .tl-arrow-block {
    width: 162px;
    transition: 0.4s;
}

.bg-green {
    background-color: rgb(64, 145, 108);
}

.bg-blue {
    background-color: rgb(100, 149, 237);
}

main {
    position: relative;
    z-index: 1;
}

/* header */
header {
    background-color: transparent;
    padding: 24px 0;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    max-width: 100%;
}

header.hide-menu #tl-menu {
    display: none;
}

header.show-menu {
    display: block;
}

header .tl-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .tl-navbar .tl-site-logo {
    z-index: 2;
}

header .tl-navbar .tl-site-logo img {
    width: 92px;
    height: 24px;
}

header .tl-navbar .tl-nav-links .tl-nav-wrapper,
header .tl-navbar .tl-nav-links ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .tl-navbar .tl-nav-links a {
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 21px;
    color: black;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 8px;
}

header .tl-navbar .tl-nav-links a:hover,
header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon:hover {
    background-color: rgb(197, 179, 164);
    transition: 1s ease-in-out;
}

header .tl-navbar .tl-nav-links .tl-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
}

/*Header Search Overlay */
header .tl-search-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

header .tl-search-overlay.active {
    display: flex;
}

header .tl-search-input {
    width: 60%;
    max-width: 600px;
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline: none;
}

header .tl-navbar #tl-burger-menu {
    display: none;
}


/* hamburger */
header #tl-burger-menu {
    cursor: pointer;
    height: 31px;
    width: 2px;
    position: relative;
}

header #tl-burger-menu span,
header #tl-burger-menu span::before,
header #tl-burger-menu span::after {
    background-color: #000;
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    content: "";
}

header #tl-burger-menu span {
    top: 13px;
    width: 31px;
    right: 0;
}

header #tl-burger-menu span::before {
    top: -10px;
    width: 31px;
    left: 0;
}

header #tl-burger-menu span::after {
    top: 10px;
    width: 31px;
    left: 0;
}

header #tl-burger-menu.tl-close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 31px;
}

header #tl-burger-menu.tl-close span::before {
    transform: rotate(90deg);
    top: 0;
    width: 31px;
}

header #tl-burger-menu.tl-close span::after {
    opacity: 0;
    width: 0;
    top: 0;
    left: 0;
    transform: rotate(90deg);
}

/* hero-section */
.tl-hero {
    background-color: rgb(197, 179, 164);
    padding: 160px 0;
    position: sticky;
    top: 0;
}

.tl-hero .tl-hero-wrapper .tl-content-block {
    width: 100%;
    max-width: 46%;
    position: relative;
    z-index: 1;
}

.tl-hero .tl-hero-wrapper .tl-content-block .tl-new-project {
    background-color: #A1806E;
    border-radius: 50px;
    width: 100%;
    max-width: 170px;
    padding: 4px 12px;
    margin-bottom: 24px;
}

.tl-hero .tl-hero-wrapper .tl-content-block h2 {
    padding-bottom: 16px;
}

.tl-hero .tl-hero-wrapper .tl-content-block h6 {
    padding-bottom: 32px;
}

.tl-hero .tl-hero-wrapper .tl-video-block {
    position: absolute;
    right: 0;
    width: 100%;
    top: 0px;
    max-width: 54%;
    height: 100%;
}

.tl-hero .tl-hero-wrapper .tl-video-block video {
    width: 100%;
    height: 100%;
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) add;
    object-fit: cover;
}

/* testimonial */
.tl-testimonial {
    padding: 160px 0;
    text-align: center;
    background-color: rgb(239, 234, 229);
}

.tl-testimonial .tl-img-block {
    padding-bottom: 64px;
}

.tl-testimonial .tl-img-block h3,
.tl-testimonial .tl-img-block h6 {
    padding-bottom: 24px;
}

.tl-testimonial .tl-img-block .tl-img {
    padding: 0 0 19px 17px;
}

.tl-testimonial .tl-img-block h3 {
    width: 100%;
    max-width: 97%;
    margin: 0 auto;
}

.tl-testimonial .tl-img-block .tl-img img {
    width: 32px;
    height: 32px;
}

/* some-slider-block-style */
.tl-testimonial .tl-testimonial-block p,
.tl-slider-block .tl-brands p {
    padding-bottom: 32px;
}

/* marquee testimonial and marquee slider */
.tl-testimonial .tl-testimonial-block .tl-marquee-block,
.tl-slider-block .tl-brands .tl-marquee-block {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.tl-testimonial .tl-testimonial-block .tl-marquee-block ul,
.tl-slider-block .tl-brands .tl-marquee-block ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.tl-testimonial .tl-testimonial-block .tl-marquee-block ul li img,
.tl-slider-block .tl-brands .tl-marquee-block ul li img {
    width: 87px;
    height: 22px;
}

/* services  and features */
.tl-services,
.tl-features {
    padding: 80px 0;
    background-color: white;
}

.tl-services .tl-content-block,
.tl-features .tl-content-block {
    text-align: center;
    padding-bottom: 64px;
}

.tl-services .tl-content-block h4,
.tl-features .tl-content-block h4 {
    padding-bottom: 16px;
}

.tl-services .tl-card-block,
.tl-features .tl-card-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl-services .tl-card-block .tl-card {
    width: 100%;
    max-width: 384px;
    padding: 32px;
    background-color: rgb(248, 246, 244);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
}

.tl-services .tl-card-block .tl-card .tl-image {
    background-color: rgb(161, 128, 110);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tl-services .tl-card-block .tl-card .tl-image img {
    width: 32px;
    height: 32px;
}

.tl-services .tl-card-block .tl-card .tl-content p:first-child,
.tl-features .tl-card-block .tl-card .tl-content p:first-child {
    color: black;
    font-weight: 500;
    padding-bottom: 16px;
}

.tl-features .tl-card-block .tl-card {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    text-align: center;
}

.tl-features .tl-card-block .tl-card .tl-image img {
    width: 48px;
    height: 48px;
}

.tl-features .tl-card-block .tl-card .tl-image {
    padding-bottom: 32px;
}

.tl-features .tl-card-block .tl-card .tl-content p:last-child {
    padding: 0 10px
}

/* brand-section */
.tl-brands-block {
    padding: 80px 0;
    background-color: #fff;
}

.tl-brands-block .tl-title {
    text-align: center;
    margin-bottom: 64px;
}

.tl-brands-block .tl-title h4 {
    padding-bottom: 16px;
}

.tl-brands-block .tl-brands-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 32% 32% 32%;
}

.tl-brands-block .tl-brands-wrapper .tl-brands {
    background-color: rgb(248, 246, 244);
    padding: 32px;
    border-radius: 12px;
    overflow: hidden;
}

.tl-brands-block .tl-brands-wrapper .tl-brands:nth-child(-n+3) {
    aspect-ratio: 1/1.524;
}

.tl-brands-block .tl-brands-wrapper .tl-brands:nth-last-of-type(1),
.tl-brands-block .tl-brands-wrapper .tl-brands:nth-last-of-type(2) {
    padding: 0;
    background-color: white;
}

.tl-brands-block .tl-brands-wrapper .tl-brands:nth-last-of-type(2) {
    aspect-ratio: 1 / 1.1;
}

.tl-brands-block .tl-brands-wrapper .tl-brands:last-child {
    grid-column: 2 / span 2;
}

.tl-brands-block .tl-hands-images {
    position: relative;
    height: 384px;
}

.tl-brands-block .tl-hand-left {
    position: absolute;
    width: 215px;
    height: 124px;
    transition: all 1s ease;
    left: -117px;
    top: 50%;
}

.tl-brands-block .tl-hand-right {
    width: 182px;
    height: 100px;
    position: absolute;
    transition: all 1s ease;
    right: -117px;
    top: 50%;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-rotating-circle,
.tl-brands-block .tl-brands-wrapper .tl-brands .tl-identity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-circle {
    position: relative;
    height: 400px;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-circle-img {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    top: 50%;
    left: 50%;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-identity p {
    font-size: 400px;
    font-family: "Instrument Serif";
    color: black;
    line-height: 480px;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-swift-turnaround {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-swift-turnaround .tl-swift-img {
    filter: brightness(0.6);
    object-fit: cover;

}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-swift-turnaround .tl-watch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-swift-turnaround .tl-watch img {
    width: 32px;
    height: 32px;
    padding-right: 8px;
}

.tl-brands-block .tl-brands-wrapper .tl-brands .tl-swift-turnaround .tl-watch h6 {
    color: white;
}

.tl-brands-block .tl-brands .tl-retention-block,
.tl-brands-block .tl-brands .tl-storytelling {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-client-retention,
.tl-brands-block .tl-brands .tl-retention-block .tl-detail {
    height: 198px;

}

.tl-brands-block .tl-brands .tl-retention-block .tl-client-retention,
.tl-brands-block .tl-brands .tl-retention-block .tl-detail {
    width: 100%;
    max-width: 363px;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-mouse-arrow {
    width: 30px;
    height: 43px;
    position: absolute;
    bottom: 0;
    right: 63px;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail img:first-child {
    object-fit: cover;
    border-radius: 12px;
    filter: brightness(0.6);
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-border-block {
    position: absolute;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-border-block .tl-border-dot {
    position: relative;
    border: 2px solid #ffffff3d;
    padding: 0 4px;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-border-block .tl-border-dot>div {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 80px;
    position: absolute;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-border-block .tl-border-dot .tl-dot-top-left {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-border-block .tl-border-dot .tl-dot-top-right {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-border-block .tl-border-dot .tl-dot-bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail .tl-border-block .tl-border-dot .tl-dot-bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.tl-brands-block .tl-brands .tl-retention-block .tl-detail h6 {
    font-size: 28px;
    color: white;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-client-retention {
    padding: 46px 32px;
    text-align: center;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-client-retention h6 {
    color: #0000008F;
}

.tl-brands-block .tl-brands .tl-retention-block .tl-client-retention,
.tl-brands-block .tl-brands .tl-retention-block .tl-detail {
    background-color: rgb(248, 246, 244);
    border-radius: 12px;
}

.tl-brands-block .tl-brands .tl-storytelling {
    padding: 32px;
    background-color: #f8f6f4;
    margin-bottom: 24px;
    overflow: hidden;
}

.tl-brands-block .tl-brands .tl-storytelling .tl-content {
    width: 100%;
    max-width: 22.5%;
}

.tl-brands-block .tl-brands .tl-storytelling p span {
    font-size: 41px;
    font-weight: 500;
    line-height: 41.6px;
    margin-right: 6.4px;
    float: left;
}

.tl-brands-block .tl-brands .tl-storytelling p {
    font-family: Besley;
    color: black;
    position: relative;
    max-height: 8.4em;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    width: 100%;
    max-width: 495px;
    letter-spacing: -0.8px;
}

/* our-work */
.tl-our-work {
    padding: 80px 0;
    background-color: white;
}

.tl-our-work .tl-title-top {
    text-align: center;
    padding-bottom: 64px;
}

.tl-our-work .tl-title-top .tl-content {
    padding-bottom: 32px;
}

.tl-our-work .tl-title-top .tl-btn-block {
    margin: 0 auto;
}

.tl-our-work .tl-title-top h4 {
    padding-bottom: 16px;
}

.tl-our-work .tl-work-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tl-our-work .tl-image-block {
    width: 100%;
    max-width: 48%;
    padding-bottom: 48px;
}

.tl-our-work .tl-image-block .tl-image {
    margin-bottom: 16px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 16px;
    position: relative;
    aspect-ratio: 1 / 0.668;
}

.tl-our-work .tl-image-block .tl-image:hover img {
    transform: scale(1.05);
}

.tl-our-work .tl-image-block .tl-image img:first-child {
    border-radius: 16px;
    transition: 0.5s ease;
    object-fit: cover;
}

.tl-our-work .tl-image-block .tl-image .tl-hover-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 21px;
    transform: translateY(-19px);
    transition: transform 0.5s ease;
}

.tl-our-work .tl-image-block .tl-image:hover .tl-hover-arrow {
    transform: rotate(-37deg) translateY(20px);
}

.tl-our-work .tl-image-block .tl-content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl-our-work .tl-image-block .tl-content-block .tl-work-btn {
    padding: 4px 12px;
    background-color: #A1806E;
    border-radius: 20px;
}

/* slider-block */
.tl-slider-block {
    padding: 80px 0;
    background-color: rgb(239, 234, 229);
}

.tl-slider-block .tl-slides-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}

.tl-slider-block .tl-slides-wrapper .tl-content-block,
.tl-slider-block .tl-slides-wrapper .tl-image-block {
    width: 100%;
    max-width: 48%;
    overflow: hidden;
}

.tl-slider-block .tl-slides-wrapper .tl-image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.tl-slider-block .tl-slides-wrapper .tl-image-slider .tl-image {
    flex: 0 0 100%;
    transition: opacity 0.5s ease;
    aspect-ratio: 1 / 1.2953;
}

.tl-slider-block .tl-slide-wrapper .tl-image-block {
    border-radius: 17px;
}

.tl-slider-block .tl-slides-wrapper .tl-content-block h3 {
    padding-bottom: 48px;
}

.tl-slider-block .tl-slides-wrapper .tl-content-block .tl-information .tl-image {
    padding-bottom: 12px;
}

.tl-slider-block .tl-slides-wrapper .tl-content-block .tl-information img {
    width: 18px;
    height: 18px;
}

.tl-slider-block .tl-slides-wrapper .tl-content-block .tl-information p {
    font-weight: 500;
}

.tl-slider-block .tl-slides-wrapper .tl-image-block {
    border-radius: 17px;
}

.tl-slider-block .tl-slides-wrapper .tl-image-block img {
    border-radius: 17px;
    object-fit: cover;
}

.tl-slider-block .tl-slides-wrapper .tl-btn {
    position: absolute;
    bottom: 16px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 80px;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-slider-block .tl-slides-wrapper .tl-btn:hover {
    background-color: rgb(222, 212, 202);
    transition: 0.8s ease-in-out;
}

.tl-slider-block .tl-slides-wrapper .tl-next-btn img,
.tl-slider-block .tl-slides-wrapper .tl-prev-btn img {
    width: 24px;
    height: 24px;
}

.tl-slider-block .tl-slides-wrapper .tl-prev-btn img {
    transform: rotate(182deg);
}

.tl-slider-block .tl-slides-wrapper .tl-prev-btn {
    left: 38%;
}

.tl-slider-block .tl-slides-wrapper .tl-next-btn {
    right: 53%;
}

.tl-slider-block .tl-slides-wrapper .tl-btn:disabled {
    opacity: 0.5;
}

.tl-slider-block .tl-brands {
    text-align: center;
}

.tl-slider-block .tl-brands p {
    padding-bottom: 32px;
}

.tl-slider-block .tl-slide-content {
    display: none;
}

.tl-slider-block .tl-slide-content.tl-active {
    display: block;
}

/* Blog-block */
.tl-blog-block {
    padding: 80px 0;
    background-color: white;
}

.tl-blog-block .tl-blog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}

.tl-blog-block .tl-must-read {
    display: flex;
    justify-content: space-between;
    background-color: #f8f6f4;
    border-radius: 12px;
    margin-bottom: 48px;
    overflow: hidden;
}

.tl-blog-block .tl-must-read .tl-image-block {
    width: 100%;
    max-width: 48%;
    overflow: hidden;
    position: relative;
}

.tl-blog-block .tl-must-read .tl-image-block:hover img,
.tl-blog-block .tl-articles .tl-article:hover img {
    transform: scale(1.05);
}

.tl-blog-block .tl-must-read .tl-image-block .tl-hover-arrow,
.tl-blog-block .tl-articles .tl-article .tl-image .tl-hover-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 30px;
    transform: translateY(-19px);
}

.tl-blog-block .tl-must-read .tl-image-block:hover .tl-hover-arrow,
.tl-blog-block .tl-articles .tl-article:hover .tl-hover-arrow {
    transform: rotate(323deg) translateY(20px);
}

.tl-blog-block .tl-must-read .tl-image-block img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    transition: 0.5s ease;
}

.tl-blog-block .tl-must-read .tl-content-block {
    width: 100%;
    max-width: 52%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-must-btn {
    background-color: #a1806f;
    padding: 8px 12px;
    border-radius: 50px;
    display: inline-flex;
    margin-bottom: 24px;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-must-btn span {
    line-height: 14px;
}

.tl-blog-block .tl-must-read .tl-content-block h4 {
    padding-bottom: 16px;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-author .tl-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-author .tl-image .tl-author-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-author .tl-image .tl-author-image img {
    border-radius: 80px;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-author .tl-image .tl-author-info .copy-lg {
    color: black;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-author .tl-image .tl-author-info .copy-md {
    color: #0000008F;
}

.tl-blog-block .tl-must-read .tl-content-block .tl-author .tl-author-btn {
    background-color: rgb(215, 140, 86);
    padding: 2px 8px;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
}

.tl-blog-block .tl-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tl-blog-block .tl-articles .tl-article {
    width: 100%;
    max-width: 32%;
    position: relative;
    cursor: pointer;
}

.tl-blog-block .tl-articles .tl-article .tl-image {
    aspect-ratio: 1 / 0.734;
    overflow: hidden;
    border-radius: 16px;
}

.tl-blog-block .tl-articles .tl-article .tl-image img {
    object-fit: cover;
    border-radius: 16px;
    transition: 0.5s ease;
}

.tl-blog-block .tl-articles .tl-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-top: 8px;
}

.tl-blog-block .tl-articles .tl-content p {
    font-weight: 500;
}

.tl-blog-block .tl-articles .tl-content p:hover a {
    color: #0000008F;
}

.tl-blog-block .tl-articles .tl-content .tl-btn {
    padding: 4px 12px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
}

/* Faq-block */
.tl-faq-block {
    padding: 80px 0;
    background-color: white;
}

.tl-faq-block .tl-faq {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.tl-faq-block .tl-title-top {
    text-align: center;
    padding-bottom: 64px;
}

.tl-faq-block .tl-title-top h4 {
    padding-bottom: 16px;
}

.tl-faq-block .tl-faq .tl-faq-item {
    padding: 24px 24px 4px;
}

.tl-faq-block .tl-faq .tl-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.tl-faq-block .tl-faq .tl-faq-question h6 {
    color: black;
}

.tl-faq-block .tl-faq .tl-faq-question .tl-arrow {
    width: 46px;
    height: 46px;
    background-color: rgb(248, 246, 244);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-faq-block .tl-faq .tl-faq-question .tl-arrow img {
    width: 24px;
    height: 25px;
}

.tl-faq-block .tl-faq .tl-faq-question.tl-active img {
    transform: rotate(180deg);
}

.tl-faq-block .tl-faq .tl-faq-item .tl-faq-answer {
    padding-top: 16px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.tl-faq-block .tl-faq .tl-faq-question.tl-active+.tl-faq-answer {
    max-height: 500px;
    opacity: 1;
}

/* Footer */
footer {
    background-color: #c0ad9d;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

footer .tl-content-block {
    position: relative;
    padding-bottom: 160px;
}

footer .tl-content-block .tl-content {
    text-align: center;
    width: 100%;
    max-width: 56%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

footer .tl-content-block .tl-content h2,
footer .tl-content-block .tl-content p {
    padding-bottom: 24px;
}

footer .tl-content-block .tl-content .tl-btn-block {
    margin: 0 auto;
}

footer .tl-content-block video {
    cursor: auto;
    width: 100%;
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) intersect, linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    transform: translate(4%, -18%);
}

footer .tl-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    position: relative;
    z-index: 2;
}

footer .tl-footer-wrapper .tl-logo-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .tl-footer-wrapper .tl-logo-block .tl-site-logo img {
    width: 123px;
    height: 32px;
}

footer .tl-footer-wrapper .tl-logo-block p:first-of-type {
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
    max-width: 323px;
}

footer .tl-footer-wrapper .tl-logo-block p:last-child {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
}

footer .tl-footer-wrapper .tl-logo-block p:last-child span {
    color: black;
}

footer .tl-footer-wrapper .tl-informative-block {
    display: flex;
    gap: 32px;
}

footer .tl-footer-wrapper .tl-informative-block ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages p,
footer .tl-footer-wrapper .tl-informative-block .tl-information p {
    padding-bottom: 16px;
    font-weight: 500;
    color: black;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages ul li,
footer .tl-footer-wrapper .tl-informative-block .tl-information ul li {
    font-size: 14px;
    font-family: inter;
}

footer .tl-footer-wrapper .tl-informative-block ul li a {
    color: rgba(0, 0, 0, 0.56);
    font-weight: 500;
}

/* Responsive */
@media screen and (max-width:1199px) {
    .container {
        padding: 0 32px;
    }

    h3 {
        font-size: 36px;
        font-weight: 500;
        letter-spacing: -2.16px;
        line-height: 46.8px;
    }

    h4 {
        font-size: 36px;
        font-weight: 500;
        letter-spacing: -2.16px;
        line-height: 46.8px;
    }

    header {
        padding: 16px 0;
        backdrop-filter: blur(8px);
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper,
    header .tl-navbar .tl-nav-links ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }

    header .tl-navbar .tl-nav-links a:hover,
    header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon:hover {
        background: white;
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper ul {
        width: 100%;
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper {
        gap: 16px;
    }

    header .tl-navbar .tl-nav-links .tl-nav-wrapper a {
        padding: 4px 0;
    }

    header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon {
        padding: 4px 0;
    }

    header .tl-nav-links.tl-overlay#tl-menu {
        display: block;
        position: absolute;
        background-color: white;
        width: 100%;
        left: 0;
        top: 0;
        padding: 82px 0 24px 24px;
        border-radius: 0 0 16px 16px;
    }

    header .tl-navbar #tl-menu {
        display: none;
    }

    header .tl-navbar #tl-burger-menu {
        display: block;
    }

    /* hero-section */
    .tl-hero {
        padding: 120px 0;
    }

    /* our services  */
    .tl-services .tl-card-block {
        flex-wrap: wrap;
    }

    .tl-services .tl-card-block .tl-card:not(:last-child) {
        max-width: 49%;
        margin-bottom: 24px;
    }

    .tl-services .tl-card-block .tl-card:last-child {
        max-width: 100%;
    }

    /* testimonial  */

    .tl-testimonial .tl-img-block h3 {
        max-width: 76%;
    }

    /* brands-block  */
    .tl-brands-block .tl-brands-wrapper {
        grid-template-columns: 48% 48%;
    }

    .tl-brands-block .tl-brands-wrapper .tl-brands:last-child {
        grid-column: 1 / span 2;
    }

    .tl-brands-block .tl-brands-wrapper .tl-brands:nth-last-of-type(2) {
        aspect-ratio: 1 / 1.524;
    }

    .tl-brands-block .tl-brands .tl-storytelling p {
        max-width: 707.52px;
    }

    .tl-brands-block .tl-brands .tl-retention-block .tl-client-retention,
    .tl-brands-block .tl-brands .tl-retention-block .tl-detail {
        max-width: 49%;
    }

    /* features  */
    .tl-features .tl-card-block {
        flex-direction: column;
    }

    .tl-features .tl-card-block .tl-card {
        max-width: 100%;
    }

    /* blog-block  */
    .tl-blog-block .tl-articles .tl-article {
        max-width: 49%;
    }

    .tl-blog-block .tl-articles .tl-article:not(:last-child) {
        margin-bottom: 24px;
    }

    /* slider-block */
    .tl-slider-block .tl-slides-wrapper .tl-next-btn {
        right: 51%;
    }

    .tl-slider-block .tl-slides-wrapper .tl-prev-btn {
        left: 38%;
    }

    /* footer */
    footer .tl-footer-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .tl-footer-wrapper .tl-informative-block {
        padding-top: 42px;
        flex-direction: column;
    }

    footer .tl-footer-wrapper .tl-informative-block ul {
        flex-direction: row;
    }
}

@media screen and (max-width:809px) {
    .container {
        padding: 0 24px;
    }

    h2 {
        font-size: 48px;
        letter-spacing: -2.88px;
        line-height: 52.8px;
    }

    h3 {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -1.92px;
        line-height: 41.6px;
    }

    /* hero-section */
    .tl-hero {
        padding: 130px 0 220px;
    }

    .tl-hero .tl-hero-wrapper .tl-content-block {
        max-width: 100%;
    }

    .tl-hero .tl-hero-wrapper .tl-video-block {
        max-width: 100%;
        transform: translate(0, 556px) rotate(90deg);
        aspect-ratio: 0.9868 / 0.9763;
        height: auto;
    }

    /* testimonial */
    .tl-testimonial,
    .tl-services {
        padding: 64px 0;
    }

    .tl-testimonial .tl-img-block h3 {
        max-width: 100%;
    }

    /* .tl-testimonial .tl-testimonial-block marquee ul li,
    .tl-slider-block .tl-brands marquee ul li {
        padding-right: 23px;
    } */

    /* brand-block  */

    .tl-brands-block .tl-brands-wrapper {
        grid-template-columns: 100%;
    }

    .tl-brands-block .tl-brands-wrapper .tl-brands:last-child {
        grid-column: 1 / span 1;
    }

    .tl-brands-block .tl-brands .tl-retention-block,
    .tl-brands-block .tl-brands .tl-storytelling {
        flex-direction: column;
    }

    .tl-brands-block .tl-brands .tl-storytelling .tl-content {
        max-width: 100%;
    }

    .tl-brands-block .tl-brands .tl-storytelling p {
        max-width: 100%;
    }

    .tl-brands-block .tl-brands .tl-storytelling .tl-content h5 {
        margin-bottom: 40px;
    }

    .tl-brands-block .tl-brands .tl-retention-block .tl-detail {
        margin-top: 24px;
    }

    .tl-brands-block .tl-brands .tl-retention-block .tl-client-retention,
    .tl-brands-block .tl-brands .tl-retention-block .tl-detail {
        max-width: 100%;
    }

    .tl-brands-block .tl-brands-wrapper .tl-brands .tl-circle {
        height: 355px;
    }

    /* our services */
    .tl-services .tl-card-block,
    .tl-features .tl-card-block {
        flex-direction: column;
    }

    .tl-services .tl-card-block .tl-card:not(:last-child) {
        max-width: 100%;
    }

    /*  brand-block  */
    .tl-brands-block .tl-brands-wrapper .tl-brands:nth-last-of-type(2) {
        height: 420px;
        width: 100%;
    }

    /* features  */
    .tl-our-work .tl-image-block {
        max-width: 100%;
    }

    /* slider-block  */
    .tl-slider-block .tl-slides-wrapper {
        flex-direction: column-reverse;
    }

    .tl-slider-block .tl-slides-wrapper .tl-content-block,
    .tl-slider-block .tl-slides-wrapper .tl-image-block {
        max-width: 100%;
    }

    .tl-slider-block .tl-slides-wrapper .tl-content-block {
        padding-top: 48px;
    }

    .tl-slider-block .tl-slides-wrapper .tl-next-btn {
        right: -1%;
    }

    .tl-slider-block .tl-slides-wrapper .tl-prev-btn {
        left: 69%;
    }

    /* blog-block  */
    .tl-blog-block {
        padding: 64px 0;
    }

    .tl-blog-block .tl-blog-top {
        flex-direction: column;
        gap: 32px;
    }

    .tl-blog-block .tl-must-read {
        flex-direction: column;
    }

    .tl-blog-block .tl-must-read .tl-image-block,
    .tl-blog-block .tl-must-read .tl-content-block {
        max-width: 100%;
    }

    .tl-blog-block .tl-must-read .tl-content-block {
        gap: 24px;
    }

    .tl-blog-block .tl-articles {
        flex-direction: column;
    }

    .tl-blog-block .tl-articles .tl-article {
        max-width: 100%;
    }

    /* faqs-block  */
    .tl-faq-block {
        padding: 64px 0;
    }

    .tl-faq-block .tl-faq .tl-faq-question .tl-arrow-block {
        max-width: 20.8%;
    }

    /* footer */
    footer {
        padding: 64px 0 120px;
    }

    footer .tl-footer-wrapper {
        padding-top: 120px;
    }

    footer .tl-content-block .tl-content {
        max-width: 100%;
    }

    footer .tl-content-block video {
        transform: translate(0, 4%);
    }
}