@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Besley';
    src: url('../fonts/Besley-Regular.eot');
    src: url('../fonts/Besley-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Besley-Regular.woff2') format('woff2'),
        url('../fonts/Besley-Regular.woff') format('woff'),
        url('../fonts/Besley-Regular.ttf') format('truetype'),
        url('../fonts/Besley-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 70.4px;
    font-family: inter;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 124.8px;
    font-family: inter;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    font-family: inter;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-family: inter;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-family: inter;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    font-family: inter;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: inter;
}

/* header */
header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 24px 0;
}

header .tl-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

header .tl-navbar .tl-site-logo img {
    width: 92px;
    height: 24px;
}

header .tl-navbar .tl-nav-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .tl-navbar .tl-nav-links a {
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    color: black;
    padding: 8px 14px;
    text-decoration: none;
}

header .tl-navbar .tl-nav-links a:hover {
    color: #0077ff;
}

header .tl-navbar .tl-nav-links .tl-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}


/* Header Icon Block */

header .tl-navbar .tl-nav-links .tl-icon-block .tl-icon:hover {
    color: #0077ff;
}

/*Header Search Overlay */
header .tl-search-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

header .tl-search-overlay.active {
    display: flex;
}

header .tl-search-input {
    width: 60%;
    max-width: 600px;
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline: none;
}

/* Footer */
footer {
    background-color: #c0ad9d;
}

footer .tl-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .tl-footer-wrapper .tl-logo-block .tl-site-logo img {
    width: 123px;
    height: 32px;
}

footer .tl-footer-wrapper .tl-logo-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .tl-footer-wrapper .tl-logo-block p:first-of-type {
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
    max-width: 323px;
}

footer .tl-footer-wrapper .tl-logo-block p:last-child {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
}

footer .tl-footer-wrapper .tl-logo-block p:last-child span {
    color: black;
}

footer .tl-footer-wrapper .tl-informative-block {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages ul,
footer .tl-footer-wrapper .tl-informative-block .tl-information ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages p,
footer .tl-footer-wrapper .tl-informative-block .tl-information p {
    padding-bottom: 16px;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages ul li,
footer .tl-footer-wrapper .tl-informative-block .tl-information ul li {
    font-size: 14px;
    font-family: inter;
}

footer .tl-footer-wrapper .tl-informative-block .tl-pages ul li a,
footer .tl-footer-wrapper .tl-informative-block .tl-information ul li a {
    color: rgba(0, 0, 0, 0.56);
}

/* button */
.tl-fancy-button {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    background-color: #f6f0eb;
    border-radius: 999px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    z-index: 0;
}

.tl-fancy-button::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: left 0.4s ease;
    z-index: 1;
}

.tl-fancy-button:hover::before {
    left: 0;
}

.tl-fancy-button .tl-text,
.tl-fancy-button .tl-arrow {
    position: relative;
    z-index: 2;
    transition: color 0.4s ease;
}

.tl-fancy-button:hover .tl-text,
.tl-fancy-button:hover .tl-arrow {
    color: #000;
}